{% for message in app.flashes('danger') %}
    <div id="pop" class="alert alert-danger demand">
        {{ message }}
        <button id="danger-pop" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
