{% extends 'base.html.twig' %}

{% block title %}Green Food Label | Mot de Passe Oublié{% endblock %}

{% block body %}
    <div class="massive-container">
        <div class="logo">
            <img src="{{ asset('build/logo.png') }}" height="200" width="200" alt="logo"/>
            <h1>Mot de passe oublié</h1>
        </div>
        <div class="main-container">
            <div class="up-in-container">
                <form method="post">
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required
                           autofocus>
                    <button type="submit" class="btn btn-success button-login">Envoyer</button>
                </form>
                <a href="{{ path('app_login') }}"><p class="login-account">Retour à la page de connection</p></a>
            </div>
        </div>
    </div>
{% endblock %}
